# Derleme çıktıları
*.class
*.jar
*.war

# IDE özel dosyalar
.idea/
.vscode/

# Veritabanı bağlantı dosyası
config/database.yml

# Log dosyaları
log/
out/

# Cucumber projesi için eklenen özel girdiler
.idea
/target/
/web_driver
/logs/
logs/*
env/
